/* layout application */

.container {
  background-color: #AAD8E6;
}

.dropmenu {
 display: inline-block;
}

.category {
  background: gray;
}

.container {
  font-family: sans-serif;
}

.cat {
  margin: 10px;
  display: inline-block;
  background: gray;
  width: 340px;
  height: 150px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

small {
  display: inline-block;
}

/* product */
.owl-wrapper-outer {
  background-color: white;
  border-radius: 5px;

  .owl-wrapper {
    margin: 2px;
  }
}

.radio_buttons {
  display: block;
}
span.radio {
  display: inline-block;
}
/* product */

/* cart */
form.button_to {
  display: inline;
}

.total_price {
  float: right;
  font-size: 24px;
}
/* cart */


